<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>!Toge3er</title>
    <link href="./style.css" rel="stylesheet">
</head>

<body class="begin_body">
    <div class="main_container">
        <p class="site_name">Toge3er</p>
        <p class="main_des">Совместный просмотр фильмов онлайн</p>
        <div class="bbtn_container">
            <button class="begin_btn" id="createRoomButton">
                Создать новую комнату
            </button>
            <button class="begin_btn" id="connectRoomButton">
                Подключиться к существующей
            </button>
        </div>
    </div>
    <script src="/startScript.js"></script>
</body>

</html>