<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>!Toge3er</title>
    <link href="style.css" rel="stylesheet">
</head>

<body class="body_con">
    <h1 class="conn_name">Подключение к существующей комнате</h1>
    <div class="inputs_container_con">
        <input type="text" id="roomText" placeholder="Введите номер комнаты"></input>
        <input type="text" id="keyText" placeholder="Вставьте ключ комнаты"></input>
        <input type="text" id="nameText" placeholder="Введите свой nickname "></input>
    </div>
    <div class="launch_container">
        <button id="connectButton">Присоединиться</button>
    </div>

    <script src="/connectRoomScript.js"></script>
</body>

</html>